<!-- 
    <div id="form">
    <form action="" method="post" >
        {% csrf_token %}

        
            <label for="to_be_done" >What is to be done?</label><br>
            <input type="text" id="to_be_done" name="done" required ><br><br>


            <label for="date"  >Due date</label><br>
            <input type="datetime-local" id="date" name="date" max="{{ today }}" required value="{{current_datetime}}"><br><br>


            <label for="description" >Description</label><br>
            <textarea name="description" id="description" required></textarea><br><br>
            

            
            <button type="submit" >Add</button>
        


    </form>
</div> -->
